.home-resume {
  padding: 20px;
}

.summary h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.top-movies-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.movie-card {
  background: #1e1e2f;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 220px;
  padding: 12px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.movie-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.btn-imdb {
  margin-top: auto;
  padding: 6px 10px;
  background-color: #4f46e5;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
}

.btn-imdb:hover {
  background-color: #4338ca;
}
